.navigation-bar {
    border-bottom: 1px solid black;
    padding-top: 8px;
    padding-bottom: 8px;
}

.navigation-bar-links {
   
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.navigation-link-active {
    color:red;
}